project_id = "jntawwphzvbbzpliyzmb"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[functions.create-stream]
verify_jwt = true

[functions.update-stream-status]
verify_jwt = true

[functions.wallet-auth]
verify_jwt = false

[functions.check-stream-status]
verify_jwt = false

[functions.fetch-recording]
verify_jwt = false

[functions.send-live-notifications]
verify_jwt = false